/* body {
    background-color:powderblue
} */

#container {
    width: auto;
    height: 300px;
    display: grid;
    grid-template: 
    "area1 area2"
    "area3 area4";
    margin-left:50%;
    transform: translate(-50%,0);


  }

  #square {
    width: 100px;
    height: 100px;
    border: grey 1px solid;
    content: '';

  }
